.side-bar
  %nav.side-bar__mypage-nav
    %ul.side-bar__mypage-nav__list
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          マイページ
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          お知らせ
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          やることリスト
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          いいね！一覧
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          出品する
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          出品した商品 - 出品中
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          出品した商品 - 取引中
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          出品した商品 - 売却済み
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          購入した商品 - 取引中
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          購入した商品 - 過去の取引
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          ニュース一覧
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          評価一覧
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          ガイド
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          お問い合わせ
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
    %h3.side-bar__mypage-nav__head
      メルペイ
    %ul.side-bar__mypage-nav__list
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          売上・振込申請
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          ポイント
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
    %h3.side-bar__mypage-nav__head
      設定
    %ul.side-bar__mypage-nav__list
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          プロフィール
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          発送元・お届け先住所変更
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          支払い方法
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          メール/パスワード
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          本人情報
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to root_path, class: "side-bar__mypage-nav__list__item__link" do
          電話番号の確認
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'
      %li.side-bar__mypage-nav__list__item
        = link_to destroy_user_session_path, method: :delete, class: "side-bar__mypage-nav__list__item__link" do
          ログアウト
          %span.side-bar__mypage-nav__list__item__number 0
          %i.side-bar__mypage-nav__list__item__icon-arrow-right
            = fa_icon 'chevron-right'