%section.single-contents
  %h2.single-contents__header
    支払い方法
  = form_for(resource, as: resource_name, url: registration_path(resource_name), :html=>{class: "single-contents__form"}) do |f|
    .single-contents__form__content
      .single-contents__form__content__upper
        = f.label :email, "カード番号", class: "single-contents__form__content__upper__label"
        .single-contents__form__content__upper__require-icon
          必須
      .single-contents__form__content__lower
        = f.text_field :email, class: "single-contents__form__content__lower__field", placeholder: "半角数字のみ"
    .single-contents__form__content
      .single-contents__form__content__upper
        = f.label :email, "有効期限", class: "single-contents__form__content__upper__label"
        .single-contents__form__content__upper__require-icon
          必須
      .single-contents__form__content__lower-effect
        = f.text_field :email, class: "single-contents__form__content__lower-effect__field", placeholder: "01"
        %span.single-contents__form__content__lower-effect__arrow
          = fa_icon 'chevron-down'
        %span.single-contents__form__content__lower-effect__unit
          月
      .single-contents__form__content__lower-effect
        = f.text_field :email, class: "single-contents__form__content__lower-effect__field", placeholder: "19"
        %span.single-contents__form__content__lower-effect__arrow
          = fa_icon 'chevron-down'
        %span.single-contents__form__content__lower-effect__unit
          年
    .single-contents__form__content
      .single-contents__form__content__upper
        = f.label :email, "セキュリティコード", class: "single-contents__form__content__upper__label"
        .single-contents__form__content__upper__require-icon
          必須
      .single-contents__form__content__lower
        = f.text_field :email, class: "single-contents__form__content__lower__field", placeholder: "カード背面4桁もしくは3桁の番号"
    .single-contents__form__guid
      = link_to root_path, class: "single-contents__form__guid__link" do
        %i
          = fa_icon 'question-circle'
        カード裏面の番号とは？
    = f.submit "次へ進む", class: "single-contents__form__submit"