.second__footer
  %nav
    %ul
      %li
        = link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
      %li
        = link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/" 
      %li
        = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
  .second__footer__logo
    = link_to root_path do
      = image_tag('http://drive.google.com/uc?export=view&id=1B_AqSG4H4usXdquB0FBAsyaMzURKsJOE', alt: "mercari")
    %p
      %small ©︎2019 Mercari